@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
body {
    padding: 0;
    background-color: whitesmoke;
}

.container {
    width: 75%;
    margin: 0 12.5%;
}

li {
    list-style-type: none;
}

.tickets, cart_tickets {
    display: flex;
    flex-wrap: wrap;
}

.ticket, cart_ticket {
    background-color: #d3d3df;
    text-align: center;
    width: 6vw;
    margin: 0.3rem;
    padding: 1rem;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
}

.ticket_selected {
    background-color: #ad96cc;
}

h1 {

}

@media screen and (max-width: 1500px) {
    .container {
        width: 80%;
        margin: 0 10%;
    }
}

footer {
    display: flex;
    justify-content: center;
    margin: 0;
}

.continue_icon:active:before {
    border-radius: 100vw;
    background-color: #664d94;
}

.continue_icon {
    cursor: pointer;
    font-size: 100px;
    color: #ad96cc;
    user-select: none;
}

.return_icon {
    cursor: pointer;
    font-size: 100px;
    color: #ad96cc;
    user-select: none;
}

.return_icon:active:before {
    border-radius: 100vw;
    background-color: #664d94;
}

.active {
    display: flex;
}

.disabled {
    display: none;
}

.cart_tickets {
    display: flex;
    flex-direction: column;
}

.cart_ticket {
    background-color: #d3d3df;
    text-align: center;
    width: 6vw;
    margin: 0.3rem;
    padding: 1rem;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
}

.modal {
    justify-content: center;
    flex-direction: column;
}
